{% extends 'index.html' %}
{% load static %}

{% block extra_css %}
  <link rel="stylesheet" href="{% static 'blog/static/css/profiles.css' %}" />
{% endblock %}

{% block title %}
  Your profile
{% endblock %}

{% block content %}
  <div class="profile-content">
    <div class="avatar-wrap">
      <img src="{{ profile.avatar.url }}" class="avatar-thumbnail" alt="{{ profile }}" />
    </div>

    <h2 class="profile-title"> 🍺 - - {{ profile }} - - {{ profile }} - - {{ profile }} - - 🍺 </h2>
    <div class="card-text">
      <ul class="profile-info">
        <li class="profile-info-item">
          Nickname: <span class="profile-info-current">{{ profile.user.username }}</span>
        </li>
        {% if profile.user.get_full_name %}
          <li class="profile-info-item">
            Firstname and Surname: <span class="profile-info-current">{{ profile.user.get_full_name }}</span>
          </li>
        {% endif %}
        <li class="profile-info-item">
          Last seen: <span class="profile-info-current">{{ profile.user.last_login }}</span>
        </li>
        <li class="profile-info-item">
          Date Of Birth: <span class="profile-info-current">{{ profile.birth_date }}</span>
        </li>
        <li class="profile-info-item">
          BIO: <span class="profile-info-current">{{ profile.bio }}</span>
        </li>

        <li class="profile-edit-link-item">
          {% if request.user == profile.user %}
            <a href="{% url 'profile_edit' %}" class="profile-edit-link">Edit your profile</a>
          {% endif %}
        </li>
      </ul>
    </div>
  </div>
{% endblock %}
