{% extends "index.html" %}

{% block content %}
    <img src="{{ post.thumbnail.url }}"
         alt={{ post.title }} width=250/>
    <strong>{{ post.title }}</strong>
    <p>{{ post.description }}</p>
    <div class="row">
        <div class="col-2 text-truncate">
            <p>{{ post.text }}</p>
        </div>
    </div>
    <small>{{ post.create }}</small>
    <a href="{% url 'post_update' slug=post.slug %}">Редактировать пост</a>
    <hr>
    <span>{{ post.category.title }}</span>
    <h2>Comments</h2>
    {% for comment in comments %}
        <div>
            <p>{{ comment.content }} - {{ comment.author }}</p>
        </div>
    {% endfor %}

    {% if user.is_authenticated %}
        <h2>Add a comment</h2>
        <form method="post"
              action="{% url 'comment_create' post.id %}">
            {% csrf_token %}
            <textarea name="content"
                      placeholder="Add a comment..."></textarea>
            <input type="hidden"
                   name="parent"
                   value="">
            <button type="submit">Post Comment</button>
        </form>
    {% else %}
        <p>You need to <a href="{% url 'login' %}?next={% url 'post_detail' post.id %}">login</a> to add a comment.</p>
    {% endif %}
{% endblock %}