{% extends "index.html" %}

{% block title %}
  {{ post.title }}
{% endblock %}

{% block content %}
  <div class="post-detail-wrapper">
    <div class="post-header">
      <img src="{{ post.thumbnail.url }}" alt="{{ post.title }}" class="post-thumbnail" />
      <div class="post-meta">
        <h1 class="post-title">{{ post.title }}</h1>
        <p class="post-description">{{ post.description }}</p>
        <div class="post-author">
          <a href="{% url 'profile_detail' slug=profile.slug %}" class="post-author-link">Автор: {{ post.author.username }}</a>
        </div>
        <div class="post-date">
          <small>Опубликовано: {{ post.create|date:"d M Y" }}</small>
        </div>
        <div class="post-category">
          <span>Категория: <a href="{{ post.category.get_absolute_url }}">{{ post.category.title }}</a></span>
        </div>
      </div>
    </div>
    <div class="post-content">
      <p>{{ post.text }}</p>
    </div>
  </div>
{% endblock %}
